@use 'colors'; 

.created {
  margin: 0 15%;
}

.header {
  display: flex;
  margin: 2%;
}

.create-new {
 margin-left: auto;
 text-decoration: none;
}

.new-button{
  background-color: rgb(65, 188, 197);
  color: white;
  border-radius: 24px;
  width: 140px;
  height: 40px;
}

.routine {
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  background-color: rgb(231, 231, 231);
  margin: 1% 0;
  font-weight: bold;
}

.to-routine {
  display: flex;
  text-decoration: none;
  color: rgb(58, 58, 58);
  width: 90%;
}

.routine-image-box {
  width: 110px;
  height: 80%; 
  margin: 8px 12px;
}

.routine-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.routine-name {
  margin: 28px 12px;
}

.options-button {
  margin-left: auto;
  margin-right: 20px;
}