@use 'colors'; 

.page {
    height: 100vh;
    width: 100%;
  }

  .header {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: center;
    
    align-items: center;
    margin: auto;
    padding-bottom: 4%;
  }

  #butCreate{
    margin-left: 60%;
    background-color: colors.$turquoise;
    color: white;
    font-size: large;
  }

.title{
    display: flex;
    width: 80%;
    height: 90%;
    margin: auto;
    padding-bottom: 0% ;
    padding-top: 0% ;
}

.display{
  margin-bottom: 3% ;
  width: 110%;
}


.viewAll{
  color: grey;
  text-decoration: underline;
  text-transform: none;
  font-size: medium;
  background: none;
}

.load-cycle-box {
  margin: 15% 50%;
}