.page {
    height: 100vh;
    width: 100%;
  }

  .header {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: center;
    
    align-items: center;
    margin: auto;
    padding-bottom: 4%;
  }

  #butCreate{
    margin-left: 60%;
    background-color: #0FC2C8;
    color: white;
    font-size: large;
  }

.title{
    display: flex;
    width: 80%;
    height: 90%;
    //background-color: red;
    margin: auto;
    padding-bottom: 0% ;
    padding-top: 0% ;

}

.display{
  margin-bottom: 3% ;
}

.viewAll{
  color: grey;
  text-decoration: underline;
  text-transform: none;
  font-size: medium;
  background: none;
}

.iconCol {
  background-color: rgb(50, 42, 57);
  //justify-content: right; 
  align-content: center;
  justify-content: end;
  padding-right: 0%;
}