@use 'colors'; 

.header {
  display: flex;
  padding-bottom: 4%;
}

.link {
  margin-left: auto;
}

.options {
  display: flex;
}

.edit-icon {
  margin-right: 20px;  
}

#butCreate{
  background-color: colors.$turquoise;
  color: white;
  font-size: large;
}

.title{
    padding-bottom: 0% ;
    padding-top: 0% ;
}

.display{
  margin-bottom: 3% ;
  width: 110%;
}

.viewAll{
  color: grey;
  text-decoration: underline;
  text-transform: none;
  font-size: medium;
  background: none;
}

.load-cycle-box {
  margin: 15% 50%;
}

.search {
  box-shadow: 0px 0px 5px 0px rgba(121, 121, 121, 0.25);
  border-radius: 20px 8px 8px 20px;
  width: 5em;
  color: colors.$lightblue;
}

.new-button {
  background-color: colors.$turquoise;
  color: white;
}