@use 'colors'; 

 .appbar {
    display: flex;
    margin-left: 2%;
    font-weight: bold;
    color: slategrey;
  }

  .routine-general {
    display: flex;
    height: 400px;
  }

  .top-bar {
    display: flex;
    margin-bottom: 2.5%;
  }

  .icons-top-right {
    display: flex;
    margin-left: auto;
  }

  .gray-section {
    background-color: #f0f0f0;
    border-radius: 40px 40px 0 0;
    margin-top: 2%;
    height: 100%;
    padding: 2% 10%;
  }

  .header-info {
    display: flex;
    padding: 0 2% 2% 1%;
    align-items: center;
  }

  .username {
    font-weight: bold;
  }

  .highlight-text {
    padding-top: 10px;
    padding-left: 23%;
    color: black;
  }
  
  .highlight-icon {
    text-align: center;
  }

  .time-text {
    color: #3f62fc;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
  }

  .img-section {
    border-radius: 40px;
    background-color: white;
    padding: 2%;
    width: 65%;
  }

  .routine-img   {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image {
    border-radius: 30px;
  }

  .image-profile {
    border-radius: 30px;
    margin-right: 15px; 
  }

  .routine-info {
    padding-left: 5%;
    margin-top: 1%;
  }
  .routine-info-cards {
    display: flex;
    height: 100px;
  }

  .icon-card-1 {
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 20px 0 0 20px;
    align-items: center;
    justify-content: center;
  }

  .icon-card-2 {
    display: flex;  
    text-align: center;
    height: 80px;
    width: 250px;
    border-radius: 0 20px 20px 0;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .total-duration {
    display: flex;
    margin-left: auto;
  }

  .cycles {
    display: flex;
    justify-content: center;
    height: 45px;
    margin-top: 4%;
  }

  .cycles-options {
    display: flex;
    width: auto;
    background-color: rgb(206, 206, 206);
    border-radius: 40px;
    padding: 6px 4px;
  }

  .cycle-option {
    margin: 0 5px;
    padding: 0 15px;
    border-radius: 24px;
    font-weight: bold;
  }

  .cycle-option-active {
    margin: 0 4.9px;
    padding: 0 15px;
    border-radius: 24px;
    font-weight: bold;
    background-color: white;
    color:#3f62fc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .cycle-icon {
    margin-left: 10px;
  }

  .cycle-header {
    display: flex;
    align-items: center;
  }

  .cycle-reps {
    display: flex;
    background-color: white;
    color:#3f62fc;
    border-radius: 12px;
    padding: 5px 18px 5px 14px;
    margin-left: 2%;
    font-weight: bold;
    align-items: center;
  }

  .exercise {
  display: flex;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.853);
  border-radius: 24px;
  margin: 2% 0;
  align-items: center;
  padding: 40px 0;
}

.exercise-image-box {
  height: 60px;
  width: 105px;
  margin-left: 3%;
}

.exercise-image {
  height: 100%;
  width: 100%;
}

.exercise-icon {
  color:#3f62fc;
  margin: 0 1% 0 2%;
}

.exercise-text {
  margin-left: 3%;
  margin-right: 5%;
  color: #3d3b42;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.exercise-time {
  color:#3f62fc;
  font-weight: bold;
}

.next-icon {
  margin-left: auto; 
  margin-right: 4%;
}

.menu-option {
  display: flex;
}

.menu-option-icon {
  margin-right: 15px;
}

.favorite-button {
  margin-right: 15px;
}

.router-link {
  text-decoration: none;
  color: inherit;
}
