@use 'colors'; 
  
  .create-exercise {
    margin: 0 20%;
    padding-bottom: 5%;
  }
  
  .header {
    text-align: center;
    margin-bottom: 2%;
  }
  
  .field-text {
    margin: 0.5% 2%;
  }
  
  .field-text-image {
    margin: 0.5% 6%;
  }
  
  .save-button {
    text-decoration: none;
  }