@use 'colors'; 

.profile {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}

.header {
  display: flex;
}

.avatar-profile {
    margin-right: 5%;
}

.edit-button {
    background-color: colors.$gray;
    margin-left: auto;
}

.link {
  color: colors.$dark_gray;
}

.user-info {
    margin-top: 2%;
    margin-left: 4%;
}

.single-line {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.user-title {
  color: gray;
}

.logout-button {
  background-color: colors.$blue;
  color: white;
}

.log-out-box {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}