@use 'colors'; 

.profile {
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
}

.avatar-profile {
    margin-right: 5%;
}

.edit-profile {
    display: flex;
    margin-top: 5%;
}

.statistics{
    margin-top: 8%;
    margin-left: 5%;
    display: flex;
}

.user-info{
    margin-top: 2%;
}

.aligned-items {
  align-items: center;
  flex-wrap: wrap;
}

.stats-card {
  height: 100%;
  display: flex; 
  align-items: center; 
  padding: 0.5%;
}

.stats-display {
  display: flex;
  align-items: center;
  width: 100%;
}

.stats-row {
  margin-right: 10px; /* Adjust margin as needed */
}

.single-line {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.stats-info {
  flex: 1;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2%;
}