.box{
    max-width: 80%; 
    border-radius: 8px;   
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.cardRoutine {
    border-radius: 24px;
    height: 160px;
    width: 187px;   
}

.descripRoutine {
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.image-container {
  position: relative;
  background-color: white;
  height: 110px;
    margin: 5px;
  border-radius: 24px 24px 0px 0px;
}

.image-container:hover .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.877);
  display: none;
  border-radius: 24px 24px 0px 0px;
}

.imgRoutine {
    height: 110px;
    border-radius: 24px 24px 0px 0px;
}
